<h1><%= @post.title %></h1>

<p><%= @post.content %></p>
<div>
   <% @post.comments.each do |comment| %>
      <p><%= comment.user.username %> says: <%= comment.content %> </p>
   <% end %>
</div>

<br>

<div>
   <p>Enter new Comment:</p>
   <%= render 'comments/form', comment: Comment.new, post: @post %>
</div>