<h1><%= @post.title %></h1>

<p><%= @post.content %></p>
<div>
   <% @post.comments.each do |comment| %>
      <p><%= comment.user.username %> says: <%= comment.content %> </p>
   <% end %>
</div>
<br>

<div>
   <% @post.categories.each do |cat| %>
      <li><%= cat.name %></li>
   <% end %>
</div>

<div>
   <p>Users who have commented:</p>
   <% unless @users.empty? %>
   <ul>
      <% @users.each do |user| %>
         <%= link_to user.username, user_path(user) %>
      <% end %>
   </ul>
   <% else %>
   <p>None.</p>
   <% end %>
</div>

<div>
   <p>Enter new Comment:</p>
   <%= render 'comments/form', comment: Comment.new, post: @post %>
</div>